<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row-fluid">
    <div class="offset2 span8 well">
    <legend>Editing Personal info</legend>
    <%= render :partial => '/personal_infos/form' %>
    <%#= render 'form' %>
  </div>
</div>
