<h1>Editing Personal info</h1>
<%= render :partial => '/admin/personal_infos/form' %>


<%#= render 'form' %>

<%= link_to 'Show', admin_personal_info_path(@personal_info) %> |
<%= link_to 'Back', admin_personal_infos_path %>

