<div class="container">
  <div class="row-fluid">
    <div class="span12 well">
      <%= link_to 'Back', admin_salaries_path, :class => "btn btn-info" %>    
      <legend>New salary</legend>

      <%= render 'form' %>
    </div>
  </div>
</div>  
