<div class="container">
  <div class="row-fluid">
    <div class="span8 well">
      <table class ="table">
        <tr>
          <th>Id</th>
          <th>details</th>
        </tr>  
        <tr>
        <% @employees.each do |employee| %>
        <td><%= employee.id %></td>
        <td><%= link_to 'Salary detail', add_salary_admin_salary_path(employee), :class => "btn btn-info" %></td><br />
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>  
