<div class="container">
  <div class="row-fluid">
    <div class="offset1 span11 well">
      <center><legend>New leave_info</legend></center>

      <%= render 'form' %>

      <%= link_to 'Back', admin_leave_infos_path, :class => "btn btn-info" %>
    </div>
  </div>
</div>     
