<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Leave-Management</a>
    <ul class="nav">
      <li ><%= link_to 'Home', root_path %></li>
      <li ><%= link_to 'Back', admin_employees_path %></li>
    </ul>  
    <ul class ="nav pull-right">
      <li><%= link_to 'logout', destroy_employee_session_path, :method => :delete %></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="offset2 span8 well">
      <legend>New Ragistration</legend>

      <%= render 'form' %>

      
    </div>
  </div>
</div>
