<div class="container">
  <div class="row-fluid">
    <div class="offset2 span8 well">
      <legend>New Ragistration</legend>

      <%= render 'form' %>

      <%= link_to 'Back', admin_employees_path, :class => "btn btn-info" %>
    </div>
  </div>
</div>
