<center><h1> GrepRuby Webtech Leave & Salary Management</h1></center>
<hr><br>
<% if current_employee %>

  <center>
  <table border="5" WIDTH="300">
  <th><b><%= link_to 'Admin Area', admin_part_leaves_path, :method => :get %></b></th>
  <th><b><%= link_to 'User Area', user_part_leaves_path, :method => :get %></b></th>
  </table>
  </center>
  <br><hr>
<% else %>

  <%= link_to 'Sigin', new_employee_session_path, :method => :get %>
  <p><%= link_to 'Signup', new_employee_registration_path, :method => :get %><br><hr></p>
   
<% end %>
