legend.serif{font-family:"Times New Roman",Times,serif;}


legend {font-size:150%;color:blue; }
th {color:green;}
a:link {color:#000080;}
a:hover {color:red;}
hr   {color:navy;}

p {color:black;text-align:left;}
b {color:green;}

body {background-color:#F6F4F0;}

